<!DOCTYPE html>
<html>
<body>

<h2>My Favorite Games</h2>

<ol>
  <li>Jak 2</li>
  <li>Kingdom Hearts 2</li>
  <li>Ratchet and Clank: Up Your Aresal</li>  
  <li>Transistor</li>
  <li>Crash Team Racing</li>
  <li>GTA: San Andreas</li>
  <li>Battlefield Bad Company 2</li>
  <li>World of Warcraft</li>
  <li>MAG</li>
  <li>Pokemon Diamond and Pearl</li>
  
</ol> 

<pre>These games hold a special place in my heart because they shaped who I am.<br>
  A lot of the things I enjoy now and the way I view games is thanks to these games that I played during my childhood.<br>
  I can remember vividly the times I was going through while playing each of these games and how much they helped me grow.<br>
  I also believe that these games are among some of the best ever made and deserve to be played by anyone who calls themselves a gamer. </pre>

<p><a href = "login.html"> Login </a></p>
<p><a href = "addtolist.html"> Want to add something? Click here! </a></p>


</body>
</html>